.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.outfit-font> {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
}

:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* Structure */

body {
    font-family: 'outfit';
    max-width: 100%;
    background-color: var(--stone-100);
}

main {
    
    max-width: 45%;
    margin: 4% auto;
    background-color: var(--white);
    padding: 1%;
    border-radius: 12px;
}

header {
    width: 96%;
    margin: 0 auto;
}

hr {
    max-width: 92%;
    margin: 0 auto;
}

#h1-div {
    padding: 5%;
}

section {
    padding: 5%;
    margin: 0 auto;
    border-radius: 12px;
    width: 96%;
}

#prep {
    
    background-color: var(--rose-50);
}

ul, li, ol, p, h2 {
    padding: 8px;
}

li {
    margin-left: 3%;
}


table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

/* Typography */

h1, h2, h3 {
    font-family: "Young Serif", serif;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

h3 {
color: var(--rose-800);
}

h2 {
    color: var(--brown-800);
}

::marker {
    color: var(--brown-800); 
}

tr {
    border-bottom: 2px solid var(--stone-150);
}

tr:last-of-type {
    border: none;
}

td {
    font-weight: bold;
    color: var(--brown-800);
    padding: 10px;
    
    
}

th {
    font-weight: normal;
    padding: 10px;
    text-align: left;
}

/* Images */

#omelette-img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 375px) {
    main {
        max-width: 100%;
        margin: 0;
    }
    body {
        background-color: var(--white);
    }
}

@media screen and (max-width: 576px) {
    main {
        max-width: 80%;
    }
}

@media screen and (max-width: 768px) {
    main {
        max-width: 68%;
    }
}